{{#each recipes as |recipe|}}
  {{log recipe}}
  <section data-id="{{recipe._id}}">
    <h6>ID:
      {{#if recipe._id}}
        {{recipe._id}}
      {{else}}
        No ID provided.
        {{/if}}
    <h6>Cocktail:
      {{#if recipe.title}}
        {{recipe.title}}
      {{else}}
        No name provided.
      {{/if}}
    </h6>
    <h6>Recipe: 
      {{#if recipe.recipe}}
        {{recipe.recipe}}
      {{else}}
        No name provided.
      {{/if}}
    </h6>
     <h6>Comments: 
      {{#if recipe.comments}}
        {{recipe.comments}}
      {{else}}
        No name provided.
      {{/if}}
    </h6>

    

    {{!-- <button type="submit" id="see-recipes" class="btn btn-primary index-btn" data-id="{{recipe._id}}">See Recipes</button> --}}
    {{!-- <button type="submit" id="update-recipe" class="btn btn-primary update-btn" data-id="{{recipe._id}}">Update Recipe</button> --}}

    <button type="submit" class="delete-recipe" data-id="{{recipe._id}}">Delete Recipe</button>
    {{!-- <button type="submit" class="update-recipe" data-id="{{recipe._id}}">Update Recipe</button> --}}
    </section>
{{/each}}